.title {
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    font-size: 36px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.preferences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .preferences{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--primary-color);
        width: 100%;
        max-width: 600px;
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 4px rgba(0, 0, 0, 0.5);

        .setting {
            display: flex;
            gap: 25px;
            align-items: center;

            label {
              font-size: 16px;
            }
        }

        button {
          width: fit-content;
          background-color: var(--button-color);
          color: var(--light-color);
          border-radius: 0.5rem;
          padding: 0.5rem;
          font-size: 1rem;
          cursor: pointer;
  
          &:hover {
              transition: background-color 0.5s ease-in-out;
              background-color: var(--button-hover-color);
              color: var(--dark-color);
          }
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Styles for radio buttons */
.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}
