table {
    padding: 1rem;
    background-color: var(--primary-color);
    border-collapse: collapse;
    margin: 0 2rem;


    th {    
        padding: 1rem;
        font-size: 1.5rem;
        border: 3;
    }

    td {
        text-align: center;
        font-size: 1.2rem;
        padding: 0.5rem;

        img {
            height: 6rem;
            width: 6rem;
            border-radius: 20px;
        }
    }

    tr {
        .user-options {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;
            

            a {
                text-decoration: none;
                color: var(--primary-color);
            }

            .edit {
                background-color: blue;
            }

            .view {
                background-color: green;
            }

            .delete {
                background-color: red;
            }

            .enable {
                background-color: black;
            }

            .disable {
                background-color: gray;
            }

            .edit, .view, .delete, .enable, .disable {
                padding: 0.5rem;
                border-radius: 10px;
                cursor: pointer;
                color: var(--options-text-color);
            }
        }
    }

}

table, tr, td, th {
    border: 2px solid var(--dark-color);
    height: 100%;
}